.libre-caslon-display-regular {
  font-family: "Libre Caslon Display", serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 180;
  font-style: normal;
}

body {
    background: #F2F4F3;
    margin: 0;
    padding: 0;
}
h1 {
    color: #F2F4F3;
    font-family: "Libre Caslon Display";
    background: #333D29;
    margin: 0;
    font-size: 30px;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    letter-spacing: 2px;
}

.menu {
    position: sticky;
    top: 0px;
}

.menu ul{
    list-style: none;
    padding: 5px;
    margin: 0; 
    text-align: right;
    background: #262e1e;
    width: 100%;
    color: #F2F4F3;
    font-family: Montserrat;
    font-size: 14px;
    box-sizing: border-box;

}

.menu ul li {
    display: inline-block;
    margin-right: 10px;;
}

.menu a:link,
.menu a:visited,
.menu a:hover,
.menu a:active {
    color: #f2f4f3;
    text-decoration: none;
}

.first-article h2 {
    font-family: "Montserrat";
    color: #212220;
    font-size: 24px;
    margin: 20px 0 5px 0;
    padding: 0;
    text-align: center;
}
.second-article h2 {
    font-family: "Montserrat";
    color: #212220;
    font-size: 24px;
    margin: 20px 0 5px 0;
    padding: 0;
    text-align: center;
}

.first-article a:link,
.first-article a:visited,
.first-article a:hover,
.first-article a:active {
    color: #212220;
    text-decoration: none;
}
.second-article a:link,
.second-article a:visited,
.second-article a:hover,
.second-article a:active {
    color: #212220;
    text-decoration: none;
}
.second-article h3 {
    font-family: "Montserrat";
    color: #212220;
    font-size: 15px;
    margin: 0px 0 10px 0;
    padding: 10px;
    text-align: center;
}

.first-article h3 {
    font-family: "Montserrat";
    color: #212220;
    font-size: 15px;
    margin: 0px 0 10px 0;
    padding: 10px;
    text-align: center;
}

.first-article h4 {
    font-family: "Montserrat";
    color: #212220;
    font-size: 18px;
    margin: 0px 0 20px 0;
    padding-left: 20px;
    text-align: left;

}

.second-article h4 {
    font-family: "Montserrat";
    color: #212220;
    font-size: 18px;
    margin: 0px 0 20px 0;
    padding-left: 20px;
    text-align: left;

}

p {
    font-family: "Montserrat";
    color: #212220;
    font-size: 16px;
    line-height: 1.5;
    margin: 5px 30px;
    padding: 0;
    text-align: justify;
}

.first-article-flex {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: hidden;
}

.first-article-flex p {
    flex: 1;
    min-width: 0;
}

#photo {
    flex: 0 0 auto;
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px 0 0;
}


#photo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 100%;
    border-radius: 5px;

}

#photo figcaption {
    font-family: "Montserrat";
    font-size: 16px;
    color: 212220;
    text-align: center;
    margin-top: 8px;
}

table {
    font-family: "Montserrat";
    border-collapse: collapse;
    width: 80%;
    max-width: 90%;
    margin: 50px auto;
    table-layout: fixed;
    
}
table caption {
    font-size: 18px;
    background-color: #333D29;
    color: #F2F4F3;
    padding: 10px;
}
.table-headers th {
    background-color: #262e1e;
    color: #F2F4F3;
    padding: 5px;
    text-align: center;
}
table, th, td {
    border: 1px solid #333D29;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.newsletter h4 {
    font-family: "Montserrat";
    color: #212220;
    font-size: 18px;
    margin: 40px 0 10px 0;
    padding-left: 20px;
    text-align: left;
}

.form {
    font-family: "Montserrat";
    color: #212220;
    font-size: 16px;
    margin: 0px 30px 5px 10px;
    padding: 0;
    text-align: left;
}

input[type="submit"] {
    font-family: "Montserrat";
    background-color: #333D29;
    color: #F2F4F3;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
}



.about h2 {
    font-family: "Montserrat";
    color: #212220;
    font-size: 24px;
    margin: 20px 0 5px 0;
    padding: 0;
    text-align: center;
}

.about h3 {
    font-family: "Montserrat";
    font-size: 20px;
    color: #212220;
    margin: 0px 0 10px 0;
    padding: 10px;
    text-align: center;

}

.list-head {
    font-family: "Montserrat";
    font-size: 16px;
    color: #212220;
    margin: 30px 0 0 30px;
}

.fact-list li {
    font-family: "Montserrat";
    font-size: 16px;
    color: #212220;
    margin: 20px 0 10px 20px;
    line-height: 20px;
    list-style-position: outside;
}
.fact-list {
    padding-left: 0;
}

.fact-list li::marker {
    content: "- ";
    font-weight: 600;
}


figure.about-me {
    display: flex;
    gap: 24px;
    align-self: flex-start;

}

figure.about-me > img {
    width: 300px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    flex: 0 0 300px;

}

figure.about-me .about-me-right-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

}



.contact h2 {
    font-family: "Montserrat";
    color: #212220;
    font-size: 24px;
    margin: 20px 0 20px 0;
    padding: 0;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
    max-width: 900px;
    margin: 0 30px 40px 30px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}

.form-row label {
    flex: 0 0 260px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

@media screen and (max-width: 1024px) {
    .first-article-flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    #photo {
        flex-direction: column;
        max-width: 90%;
        margin: 0 auto;
    }
    #photo img {
        width: 90%;
    }
    .menu ul{
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
    #photo figcaption {
        font-size: 18px;
    }

    
    table caption {
        font-size: 20px;

    }
    table, th, td {
        font-size: 18px;
        overflow-wrap:anywhere
    }


    .form {
    font-size: 18px;
    }

    figure.about-me {
        flex-direction: column;
        align-items: center;
    }
    figure.about-me > img {
        flex: 0 0 auto;
        align-items: center;
    }



}


@media screen and (max-width: 600px) {
    .first-article-flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    #photo {
        max-width: 90%;
        margin: 0 auto;
    }
    #photo img {
        width: 90%;
    }
    .menu ul{
        font-size: 19px;
        padding-left: 12px;
        padding-right: 12px;
    }
    h2 {
        font-size: 27px;
    }
    h3 {
        font-size: 19px;
    }
    h4 {
        font-size: 21px;
    }
    p {
        font-size: 19px;
    }
    #photo figcaption {
        font-size: 19px;
    }
    table caption {
        font-size: 21px;

    }
    table, th, td {
        font-size: 19px;
        overflow-wrap:anywhere
    }
    .form {
    font-size: 19px;
    }

    figure.about-me {
        flex-direction: column;
        align-items: center;
    }
    figure.about-me > img {
        flex: 0 0 auto;
        align-items: center;
    }

}